<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" class="custom-searchbar">
    <ion-searchbar placeholder="Buscar lugares"></ion-searchbar>
    <ion-icon name="options"></ion-icon>
  </ion-item>

  <div class="ion-padding">
    
    <ion-card *ngFor="let place of places" (click)="onClick(place)">
      <img src="{{place.img}}">
      <ion-item lines="none">
        <ion-label>{{place.title}}</ion-label>
        <ion-item class="rating">
          <ion-label>{{place.rating}}</ion-label>
          <ion-icon name="star" color="light"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-card>
    
  </div>  
</ion-content>
