<ion-header>
  <ion-toolbar>

    <!-- Icon on the left -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="settings" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title text-center color="light">tourveracruz</ion-title>

    <!-- Icon on the right-->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab-home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab-places">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Lugares</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab-routes">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Rutas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button>
      <ion-icon name="locate"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

