<ion-header>
  <ion-toolbar>

    <!-- Icon on the left -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button color="light"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title color="light">Galeria del lugar</ion-title>

    <!-- Icon on the right-->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/0.jpeg">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/1.jpeg">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/2.jpeg">
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/3.jpeg">
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/4.jpeg">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/images/5.jpeg">
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
