<ion-header>
</ion-header>

<ion-content class="ion-padding">

  <div class="center-both max-height">

    <div class="center-horizontally">
      <img src="../../assets/images/logo.png" alt="logo">
    </div>
    
    <h1 class="logo-text"><span>tour</span>veracruz</h1>
    
    <h3 class="shadow-text">¿Sabías que?</h3>
    <br>
    
    <h4 class="shadow-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo nesciunt facere vitae quas. Error blanditiis recusandae adipisci quaerat ea animi voluptas nemo.
    </h4>
  
  </div>

</ion-content>
